.App{
  min-height: 100vh;
  background-color: cornsilk;
}

.main__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 140px;
  background-image: url(../../assets/fondoHeader.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
}
.header__title{
  color: orangered;
  font-size: 30px;
  text-shadow: 2px 2px 5px orange;
  text-align: center;
  padding: 10px 10px 0 10px;
}
.btn__link{
  display: block; 
  width: 100vw;
  background-color: rgb(49, 49, 236);
  text-align: center;
  color: white;

  padding: 10px 0;
}
@media (min-width:403px){
  .main__header{
    height: 180px;
  }
  .header__title{
    padding-top: 15px;
    font-size: 40px;
    padding: 15px 15px 0 15px;
  }
}
@media (min-width:567px){
  .main__header{
    height: 120px;
  }
  .header__title{
    padding: 15px 15px 0 15px;
    font-size: 40px;
    
  }
}
@media (min-width:825px){
  .main__header{
    height: 170px;
  }
  .header__title{
    padding-top: 30px;
    font-size: 60px;
  }
}