.happy-days__list{
  padding: 5px;
  padding-top: 20px;
  display: grid;
  grid-gap: 10px; 
  grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
  background-color: lightcyan;
  min-height: calc(100vh - 223px);
}
.state__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  color: black;
  font-size: 65px;
}
.happy{
  background-color: yellow;
}
.sad{
  background-color: orangered;
  color: white;
}
.average__days{
  display: flex;
}
.happyDays{
  background-color: yellow;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badDays{
  background-color: orangered;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width:403px){
  .happy-days__list{
    min-height: calc(100vh - 263px);
  }
}
@media (min-width:567px){
  .happy-days__list{
    min-height: calc(100vh - 203px);
  }
}
@media (min-width:825px){
  .happy-days__list{
    min-height: calc(100vh - 254px);
  }
}